.products {
  padding: 5px 70px;

  .product-category {
    h2 {
      text-transform: uppercase;
      font-size: 14px;
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: start;

      .product {
        box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.35);
        padding: 1rem 20px;
        display: flex;
        justify-content: center;
        align-items: space-between;
        flex-direction: column;
        border-radius: 4px;

        // margin-right: 20px;
        .image {
          width: 200px;
          height: 200px;

          img {
            width: 100%;
            height: 300px;
            object-fit: contain;
          }
        }

        .info {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px;
          background-color: rgb(29, 28, 28);
          color: white;
        }
      }

      .p {
        margin: 20px;
      }

      .buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-top: 1rem;

        button {
          color: white;
          background-color: red;
          border-radius: 4px;
          padding: 4px;
          border: none;
          margin-right: 5px;
          outline: none;
        }
      }
    }
  }
}
