.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;

  .logo {
    font-size: 40px;
    color: rgb(165, 162, 162);
  }

  .button {
    .new-product {
      background-color: rgb(4, 4, 41);
      padding: 10px 40px;
      border-radius: 50px;
      color: white;
      outline: none;
      border: none;
    }
  }

  .login {
    outline: none;
    border: none;
    background: none;
    a {
      background-color: rgb(4, 4, 41);
      padding: 10px 40px;
      border-radius: 50px;
      color: white;
      text-decoration: none;
      list-style: none;
    }
  }
}
